### JupyterNotebook ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# ECG data
data/ECG_data

# Numenta data
data/Numenta/**
!data/Numenta/README.md
!data/Numenta/realKnownCause/nyc_taxi.csv
!data/Numenta/labels/raw/known_labels_v1.0.json

# parquet files
*.parquet

# Yahoo data (not allowed to redistribute)
data/yahoo-data-labeled-time-series-anomalies-v1_0/**
!data/yahoo-data-labeled-time-series-anomalies-v1_0/README.txt